.root {
  /* margin-left: 50px;
  margin-right: 50px; */
  background-color: aliceblue;
}

.gridSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid;
}

.divstudent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  200px 200px,200px;
  border: 1px solid;
  padding: 30px;
  gap: 1rem;
  margin: 1rem;
}
